@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
  font-family: 'Akaya Telivigala', cursive;
}

.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stylebutton{
  margin-left: 10px;
}